@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f4f6f8;
    color: #202223;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    margin: 0 auto;
    flex: 1;
    max-width: none;
}

.navbar {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 20px;
}

.navbar h1 {
    font-size: 24px;
    font-weight: 600;
    color: #008060;
}

.navbar a {
    text-decoration: none;
    color: #202223;
    margin-left: 20px;
    font-weight: 500;
}

.hero {
    text-align: center;
    padding: 80px 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hero h2 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    color: #666;
    margin-bottom: 40px;
}

.btn {
    padding: 12px 30px;
    background-color: #008060;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #00664f;
}

.footer {
    text-align: center;
    padding: 20px;
    font-size: 14px;
    color: #888;
    background-color: #ffffff;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.footer a {
    color: #008060;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

/* Tailwind Custom */
.text-2xs {
    font-size: 0.625rem;
}

/* Polaris Custom */
.Polaris-Page {
    max-width: none !important;
}

.Polaris-Text--success {
    color: #008000 !important;
}

.Polaris-Popover__Content {
    max-width: unset !important;
}

/* Custom */

/* 빗금 배경 패턴 정의 */
.striped-background {
    background-image: linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.15) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, 0.15) 50%,
        rgba(255, 255, 255, 0.15) 75%,
        transparent 75%,
        transparent
    );
    background-size: 1rem 1rem;
}

/* 빗금 배경 패턴 애니메이션 정의 */
@keyframes progress-bar-stripes {
    from {
        background-position: 1rem 0;
    }
    to {
        background-position: 0 0;
    }
}

/* 빗금 배경 패턴 애니메이션 적용 */
.animated-progress {
    animation: progress-bar-stripes 1s linear infinite;
}
