@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Quill CSS */
.grid-content-editor .ql-editor {
    min-height: 200px;
    max-height: 400px;
    line-height: 1.6 !important;
    overflow: auto;
    background-color: white;
}

.readonly-editor .ql-editor {
    max-height: 200px;
    overflow: hidden;
}

.readonly-editor.show .ql-editor {
    max-height: unset;
}

.ql-editor p {
    padding: 0.25rem 0 !important;
}

.ql-toolbar {
    width: 100%;
    max-width: 700px;
}

/* Custom Jodit CSS */
.editor-popup-container {
    min-width: 330px !important;
    position: absolute;
    top: 25% !important;
    left: 25% !important;
}

.jodit-container {
    max-width: 590px !important;
}

.jodit-container .jodit-wysiwyg * {
    all: revert;
}

/* Custom CSS */
@keyframes blink { 0%, 20%, 40%, to { opacity: 1; } 10%, 30% { opacity: 0; } }

.blinking {
    animation: blink 2s linear;
}

.index-col > span {
    white-space: normal;
}

.index-col.col-sm {
    width: 80px;
}

.index-col.col-md {
    width: 25%;
    min-width: 100px;
}

.index-col.col-lg {
    width: 50%;
    min-width: 120px;
}

.filter-cancel-badge > button::after {
    content: "/";
    position: absolute;
    top: 3px;
    left: 1px;
    font-size: 1rem;
    font-weight: 500;
}

.only-sm {
    display: none;
}

.exclude-sm {
    display: inline-block;
}

/* Media Queries */
@media (max-width: 960px) {
    .editor-popup-container {
        left: 10% !important;
    }
}

@media (max-width: 784px) {
    .editor-popup-container {
        left: 5% !important;
    }
}

@media (max-width: 767px) {
    .only-sm {
        display: inline-block;
    }

    .exclude-sm {
        display: none;
    }

    .filter-cancel-badge > button::after {
        top: 4px;
        left: 0;
        font-size: 1.3rem;
        font-weight: 400;
    }
}

@media (max-width: 705px) {
    .editor-popup-container {
        left: 0% !important;
    }
}
