.Polaris-Icon {
    display: flex;
}

.Polaris-Button--pressed.Polaris-Button--pressed {
    background-color: rgba(0, 0, 0, .08);
}

.Polaris-Button--pressed:hover {
    background-color: rgba(0, 0, 0, 0.05) !important;
}

.Polaris-Text--break {
    white-space: normal;
}

.custom-choice-list .Polaris-BlockStack.Polaris-BlockStack--listReset {
    gap: 0.5rem;
}
